<.header>
  New Utilisateurs
  <:subtitle>Use this form to manage utilisateurs records in your database.</:subtitle>
</.header>

<.utilisateurs_form changeset={@changeset} action={~p"/utilisateurs"} />

<.back navigate={~p"/utilisateurs"}>Back to utilisateurs</.back>
